@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #1e3a8a;
  color: #06b6d4;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playwrite DE SAS", cursive !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1e3a8a, #06b6d4);
  border-radius: 100px;
  transition: background 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2563eb, #0891b2);
}
